<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,container-queries"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                }
            },
            plugins: [
                ({ addComponents, theme }) => {
                    addComponents({
                        ".container": {
                            "@apply px-4 max-w-screen-2xl mx-auto": {},
                        },
                    });
                },
            ]
        }
    </script>
    <link rel="stylesheet" href="/static/main.css">
    <title>Occamy</title>
</head>
<body class="prose md:prose-md mx-auto min-h-screen flex flex-col gap-12 px-2">

    <header class="container">
        <nav class="flex justify-between items-center py-3">
            <a class="text-3xl font-bold no-underline" href="/">ERROR</a>

            <img class="!m-0 rounded-full" height="70" width="70" src="/static/occamy.jpeg" alt="Magical Creature (Occamy) that can shrink down or enlarge based on the space available">
        </nav>
    </header>

    <main class="flex flex-col justify-center grow mb-3">
        <div class=" block w-full relative">
            ihyujgbuygtvygv

            {{ request.form }}
        </div>
    </main>

    <footer>
        <p>Copyright © 2024</p>
    </footer>

    <script src="/static/main.js"></script>
</body>