<!DOCTYPE html>
  <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,container-queries"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                }
            },
            plugins: [
                ({ addComponents, theme }) => {
                    addComponents({
                        ".container": {
                            "@apply px-4 max-w-screen-2xl mx-auto": {},
                        },
                    });
                },
            ]
        }
    </script>
    <link rel="stylesheet" href="/static/main.css">
    <title>Occamy</title>
</head>
<body class="prose md:prose-md mx-auto min-h-screen flex flex-col gap-12 px-2">

    <header class="container">
        <nav class="flex justify-between items-center py-3">
            <a class="text-3xl font-bold no-underline" href="/">Occamy</a>

            <img class="!m-0 rounded-full" height="70" width="70" src="/static/images/occamy.jpeg" alt="Magical Creature (Occamy) that can shrink down or enlarge based on the space available">
        </nav>
    </header>
    <main class="flex flex-col justify-center grow mb-3">
        <div class="text-center">
            <h1 class="text-3xl text-balance">The best Image Compressor you've ever seen</h1>
            <p>The ultimate magical power to compress your images with Occamy</p>
        </div>
        <div class="block w-full relative">
            <form class="flex flex-col justify-center items-center" x-cloak
                  @submit="$event.preventDefault();"
                  x-data="{
                      file: false,
                      loading: false,
                      dragover: false,
                      compressedFile: false,
                      filename: null,
                      files: [],
                      formData: null,
                      previewImage: null,
                      newPreviewPath: null,
                      compressedImage: null,
                      previewSize: null,
                      compressedSize: null,
                      percentage: null,
                      newPreview: false,
                      fileInputChanged($event) {
                        files = Object.values($event.target.files)
                        this.file = files[0]
                        this.previewImage = URL.createObjectURL(this.file)

                        this.$watch('newPreview', value => {
                            if (value) {
                                let imgElement = document.querySelector('.img');

                                if (imgElement) {
                                imgElement.src = this.newPreviewPath;
                                }

                                URL.revokeObjectURL(this.previewImage);
                            }
                        });
                      },
                      handleDrop($event) {
                          $event.preventDefault();
                          if($event.dataTransfer.items[0].kind === 'file'){
                            this.file = $event.dataTransfer.items[0].getAsFile();
                            this.previewImage = URL.createObjectURL(this.file);

                            this.$watch('newPreview', value => {
                                if (value) {
                                    let imgElement = document.querySelector('.img');

                                    if (imgElement) {
                                        imgElement.src = this.newPreviewPath;
                                    }

                                    URL.revokeObjectURL(this.previewImage);
                                }
                            });
                          }
                      },
                      resetFormData() {
                          this.file = false;
                          this.loading = false;
                          this.dragover = false;
                          this.compressedFile = false;
                          this.filename = null;
                          this.files = [];
                          this.formData = null;
                          this.previewImage = null;
                          this.compressedImage = null;
                          this.previewSize = null;
                          this.compressedSize = null;
                          this.percentage = null;
                          this.newPreview =  false;
                          this.newPreviewPath = null;
                      },
                      download() {
                        const a = document.createElement('a');
                        a.href = this.compressedImage;
                        a.download = this.filename;
                        a.click();
                        // remove
                        a.remove();
                      },
                      submit() {
                        if (!this.file) {
                            alert('Please select a file to upload.');
                            return;
                        }
                        // allow only jpeg jpg png
                        if (!['image/jpeg', 'image/jpg', 'image/png'].includes(this.file.type)) {
                            alert('Please select a jpeg, jpg, or png file.');
                            return;
                        }
                        this.formData = new FormData();
                        this.formData.append('file', this.file);

                        // alert('File has been uploaded.');
                        axios.post('/api/upload', this.formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        })
                        .then(response => {
                            this.loading = true;
                            setTimeout(() => {
                                this.loading = false;
                            }, 1000);
                            this.newPreviewPath = response.data.preview;
                            this.newPreview = true;
                            this.compressedImage = response.data.image;
                            this.filename = response.data.filename;
                            this.compressedFile = true;
                            this.previewSize = response.data.previewSize;
                            this.compressedSize = response.data.compressedSize;
                            this.percentage = response.data.percentage;
                        })
                        .catch(error => {
                            if (error.response) {
                                this.resetFormData();
                            }
                            console.error(error);
                        });
                      }
                  }"
                  enctype="multipart/form-data">

                <div x-show="!file && !loading" class="w-full">
                    <div x-on:dragover.prevent x-on:drop="handleDrop($event)"
                         class="flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                        <div class="flex flex-col gap-3 text-center text-md">
                            <svg class="mx-auto size-20 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                            </svg>
                            <div class="flex items-center leading-6 gap-x-1.5 text-gray-600">
                                <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-blue-600 hover:text-blue-500">
                                    <span>Upload a file</span>
                                    <input class="sr-only" id="file-upload" type="file" accept="image/png, image/jpg, image/jpeg" name="file" x-ref="fileInput" x-on:change="fileInputChanged($event)">
                                </label>
                                <p class="!m-0">or drag and drop</p>
                            </div>
                            <p class="text-sm leading-5 text-gray-600">PNG, JPG, JPEG up to 10MB</p>
                        </div>
                    </div>
                </div>

                <div x-show="loading" class="flex justify-center">
                    <div class="w-12 h-12 rounded-full animate-spin border-4 border-solid border-blue-500 border-t-transparent"></div>
                </div>
                <div x-show="!loading" x-bind:class="{ 'grid-cols-2': compressedImage }" class="grid gap-y-3 gap-x-3">
                    <div x-show="previewImage" class="text-xl font-semibold text-center">
                        <p class="!m-0">Uploaded Image</p>
                    </div>

                    <div x-show="compressedImage" class="text-xl font-semibold text-center">
                        <p class="!m-0">Compressed Image</p>
                    </div>

                    <div class="flex justify-center w-full">
                        <img x-bind:class="{ 'w-1/2': !compressedImage }" x-show="previewImage" :src="previewImage" alt="Preview Image" class="img h-auto !m-0">
                    </div>

                    <img x-cloak x-show="compressedImage" :src="compressedImage" alt="Compressed Image" class="flex justify-center h-auto !m-0">

                    <div class="flex items-end"  x-show="previewSize">
                        <p class="!m-0 text-sm" x-text="previewSize"></p>
                    </div>

                    <div class="flex flex-col items-end" x-show="compressedSize">
                        <p class="!m-0 font-bold text-sm" x-text="'-' + percentage + '%'"></p>
                        <p class="!m-0 text-sm" x-text="compressedSize"></p>
                    </div>
                </div>

                <button x-show="!compressedFile" class="mt-4 py-3 px-6 bg-blue-200 font-semibold"
                        type="submit" @click="submit()">
                    Compress Image
                </button>

                <button x-show="compressedFile && !loading" class="mt-4 py-3 px-6 bg-blue-400 font-semibold"
                        @click="download()" :download="filename" type="button">
                    Download Image
                </button>
            </form>
        </div>
    </main>

    <footer class="flex justify-between text-lg font-semibold">
        <p>© 2024 <a class="no-underline" href="https://github.com/zapalblizh/" target="_blank">@zapalblizh</a></p>
        <p x-data="{
                date: '',
                setTime() {
                    let d = new Date();
                    this.date = `${d.getDate()}-${d.getMonth()+1}-${d.getFullYear()}`;
                }
            }"
           x-init="setTime()">
            Time: <span x-text="date"></span>
        </p>
    </footer>

    <script src="/static/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="//unpkg.com/alpinejs" defer></script>

</body>
</html>
